
<strong>Ola, {{ organizer }}!</strong>
<p>Tem uma nova inscrição na sua meetup {{ meetup }}, caso precise entrar em contato, segue os dados do seu novo inscrito abaixo:</p>
<p>
  <strong>Nome:</strong> {{ user }} <br />
  <strong>Email:</strong> {{ email }} <br />
</p>
